
a {
  display: flex;
  color: white;
  outline: none;
  text-decoration: none;
  font-family: sans-serif;
  font-size: larger;
  text-align: center;
}

.nav-bar-element {
  height: 100%;
  margin: 5px 10px 5px
}

#nav-bar {
  display: flex;
  background-color: midnightblue;
  box-shadow: 2px 2px 2px midnightblue;
  align-items: center;
}

img {
  height: 50px;
}
